<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4 class="widget-title">Tags</h4>
                <ul class="tag-widget">
                    <li><a class="btn btn-primary btn-outlined" href="#">News</a></li>
                    <li><a class="btn btn-primary btn-outlined" href="#">Blog</a></li>
                    <li><a class="btn btn-primary btn-outlined" href="#">Photos</a></li>
                    <li><a class="btn btn-primary btn-outlined" href="#">Gallery</a></li>
                    <li><a class="btn btn-primary btn-outlined" href="#">Celeb</a></li>
                    <li><a class="btn btn-primary btn-outlined" href="#">Video</a></li>
                    <li><a class="btn btn-primary btn-outlined" href="#">Social</a></li>
                </ul>   
            </div><!--col-lg-4-->
            <div class="col-lg-4">
                <h4 class="widget-title">Global Coverage</h4>
                <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
            </div><!--col-lg-4-->
            <div class="col-lg-4">
                <h4 class="widget-title">Find Us</h4>
                <p>New York Office,<br/>
                New York.<br/>
                F: +458 4808-5489<br/>
                E: <a href="mailto:#">hello@quoteguys.com</a>
                </p>
            </div><!--col-lg-4-->
        </div><!-- row -->
    </div><!-- container -->
    <div id="footer-copyright">
        <div class="container">
            Created With Love By Distinctive Themes
        </div>
    </div>
</div>