<div class="container" style="margin:150px">
    <form [formGroup]="form" (ngSubmit)="onsubmit()">
        <mat-form-field>
            <input matInput placeholder="titre" formControlName="titre">

        </mat-form-field>

        <br>
        <mat-form-field>
            <input matInput placeholder="lieu" formControlName="lieu">

        </mat-form-field>

        <br>
        <mat-form-field appearance="fill">
           
            <input matInput [matDatepicker]="picker"  formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
   
        <br>


        <button type="submit">Submit</button>

    </form>





</div>