<div class="example-container"  style="margin:150px">
    <form [formGroup]="form" (ngSubmit)="onsubmit()">
        <mat-form-field>
            <input matInput placeholder="cin" formControlName="cin">

        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="NOM" formControlName="nom">

        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="PRENOM" formControlName="prenom">

        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="CV" formControlName="cv">

        </mat-form-field>
        <br>
       
        <mat-form-field>
            <input matInput placeholder="EMAIL" formControlName="email">

        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Photo" formControlName="photo">

        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="DIPLOME" formControlName="diplome">

        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="dateNaissance" formControlName="dateNaissance" type="date">

        </mat-form-field>
        <br>
        <mat-form-field>

        <mat-form-field appearance="fill">
          
            <mat-select formControlName="encadrant_id" placeholder="enseignant" >
              <mat-option *ngFor="let i of ens" [value]="i.id">
                {{i.nom}}  {{i.prenom}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-form-field>
        <br><br>
        <button type="submit">Submit</button>

    </form>





</div>